<a href="https://colab.research.google.com/github/Bhavu211/Data_Science/blob/main/Data_Analysis_Job_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Skill Requirements based on Jobs
What are the skills that are needed for almost all the jobs
What are the most important skills for a Data Analyst
What are the most important skills to ge thired in HDFC Bank
Years of Exp vs Requirements

In [3]:
!git clone https://github.com/AshishJangra27/datasets

Cloning into 'datasets'...
remote: Enumerating objects: 328, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 328 (delta 19), reused 54 (delta 9), pack-reused 235 (from 1)
Receiving objects: 100% (328/328), 278.62 MiB | 17.22 MiB/s, done.
Resolving deltas: 100% (145/145), done.
Updating files: 100% (225/225), done.

In [4]:
import pandas as pd
df = pd.read_csv('/content/datasets/Job Postings/jobs.csv.zip')

df.head()

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

**1. Data Exploration**


1.1 Remove Un-necessery Columns

In [5]:
df = df.drop(columns=['rating','reviews','posted_on','job_link','company_link'])

1.2 Checking & Removing Null Values

In [7]:
df = df.dropna(subset = ['job_id','company','resposibilities'])

1.3 Checking Duplicate Values

In [8]:
df.drop_duplicates(subset = 'job_id', inplace = True)

1.4 Explore individual columns

**2. Data Cleaning**

2.1 Typecast job_id

In [10]:
df['job_id'] = df['job_id'].astype(int)

2.2 Clean Experince Column

In [11]:
df['min_exp'] = df['experience'].str.replace(' Yrs','').str.split('-').str[0].astype(int)
df['max_exp'] = df['experience'].str.replace(' Yrs','').str.split('-').str[1].astype(int)

In [9]:
df.head()

,job_id,job_role,company,experience,salary,location,resposibilities
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."

2.3 Clean Salary Column

In [13]:
import re
from tqdm.auto import tqdm

def extract_numeric_values(text):
  numeric_values = str(re.findall(r'\d+', text))
  return numeric_values

data = []

for text in df['salary'].str.split('-').str[0].str.replace(',','').str.split('PA').str[0].str.strip():
  data.append(extract_numeric_values(text))

In [14]:
df['min_salary'][0]

KeyError: 'min_salary'

3 Data Analysis

3.1) What are the skills that are needed for almost all the jobs

In [15]:
df['resposibilities'].str.split(',').explode().value_counts().head()

resposibilities
Sales            4623
tied             3310
agency           3307
communication    2556
training         2218
Name: count, dtype: int64

3.2) What are the most important skills for a Data Analyst

In [16]:
df[df['job_role'] == 'Data Analyst']['resposibilities'].str.split(',').explode().str.title().value_counts().head()

resposibilities
Data Analysis    28
Sql              21
Excel            15
Data Analyst     13
Power Bi         13
Name: count, dtype: int64


3.3) What are the most important skills to ge thired in HDFC Bank

In [17]:
df[df['company'] == 'Hdfc Bank']['resposibilities'].str.split(',').explode().str.title().value_counts().head()

resposibilities
Portfolio Management       8
Cross Selling              7
Sales                      6
Relationship Management    6
Banking                    5
Name: count, dtype: int64

3.4 Years of Exp vs Requirements

3.5 Average Salary vs Years of Exp