<a href="https://colab.research.google.com/github/Bhavu211/Data_Science/blob/main/Pythonfundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Datatypes**

1.1) print()

In [1]:
print("Bhawna is an AI product manager")

Bhawna is an AI product manager

1.2) Different Datatypes

In [2]:
print(0.0)
print(0)
print(False)
print('0.asdasd3458r13fd')

0.0
0
False
0.asdasd3458r13fd

1.3) type()

In [3]:
print(type(0.0))
print(type(0))
print(type(False))
print(type('0.asdasd3458r13fd'))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'str'>

**2. Operators**

2.1) Arithmetic

In [4]:
print(3+2)
print(3-2)
print(3*2)
print(3/2)
print(3//2)
print(3%2)
print(3**2)

print(3*'Bhawna')
print('Bhawna' + 'Mangla')

print(True + True + True)
print(False + False + False)

print('Bhawna'*False)
print(5*True)

5
1
6
1.5
1
1
9
BhawnaBhawnaBhawna
BhawnaMangla
3
0

5

2.2) Comparison

In [5]:
print(2>3)
print(2>=3)
print(2>=3)
print(2<3)
print(2<=3)
print(2!=3)
print(2==3)
print(2>3.5)
print(2.3>=3)
print(2.4>=3)

False
False
False
True
True
True
False
False
False
False

2.3) Logical

In [6]:
age = 5

print((age >= 18) and (age <= 100))
print((age >= 18) or (age <= 100))
print(not(True))
print(not((age >= 18) or (age <= 100)))

False
True
False
False

**3. Typecasting**

In [7]:
#int - str,bool,float
print(int(3.14), int(True), int(False), int('423432432412'))

#str - int,bool,float
print(str(3.14), str(True), str(False), str(3))

#float- int, bool,str
print(float(3), float(True), float(False), float('3'))

#bool - int,float,str
print(bool(3), bool(True), bool(False), bool('3'))

3 1 0 423432432412
3.14 True False 3
3.0 1.0 0.0 3.0
True True False True

**4. Conditionals**

In [8]:
age = 18

if (age >= 18) and (age <= 100):
  print('eligible')

if (age >= 0) and (age <= 18):
  print('not eligibl')

if (age < 0) or (age > 100):
  print('not a valid age')

eligible
not eligibl

elif

In [9]:
age = 18

if (age >= 18) and (age <= 100):
  print('eligible')

elif (age >= 0) and (age <= 18):
  print('not eligibl')

else:
  print('not a valid age')

eligible

multiple elif

In [10]:
n = 35

if (n%5 == 0) and (n%7 == 0):
  print("5 and 7")

elif (n%5 == 0) and (n%7 != 0):
  print("5 not 7")

elif (n%5 == 0) and (n%7 == 0):
  print("7 not 5")

else:
  print('not 5 not 7')

5 and 7

nested else and elif

In [11]:
n = 70

if n%5 == 0:
  if n%7 == 0:
    print('5 and 7')
  else:
    print('5 not 7')

elif n%7 == 0:
  print('7 not 5')

else:
  print("not 7 not 5")

5 and 7

**5. Loops**

for loop

In [12]:
n = 15

for i in range(n,n*10 + 1,n):
  print(i)

15
30
45
60
75
90
105
120
135
150

for loop for reverse table

In [13]:
n = 15

for i in range(n*10,n-1,-n):
  print(i)

150
135
120
105
90
75
60
45
30
15

for loop for printing table

In [14]:
n = 17

for i in range(1,11):
  print(n ,'*', i,'=', n * i)

17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170

for loop for sum

In [15]:
n = 1000
s = 0

for i in range(1,n+1):
  s = s + i

print(s)

500500

Given three six-sided dice, calculate the probability (as a percentage) of the sum of the numbers on the three dice being equal to any given number from 3 to 18. The dice are rolled independently, and each die can land on any number from 1 to 6. The code below computes the probability for each sum. Explain what the code does and how it calculates the probability for each sum. Also, what is the purpose of dividing by 216 and rounding the result to two decimal places?

In [16]:
for num in range(3,19):

  s = 0
  for i in range(1,7):
    for j in range(1,7):
      for k in range(1,7):
        if(i+j+k == num):
          s += 1

  print(round(s/216*100,2),"%")

0.46 %
1.39 %
2.78 %
4.63 %
6.94 %
9.72 %
11.57 %
12.5 %
12.5 %
11.57 %
9.72 %
6.94 %
4.63 %
2.78 %
1.39 %
0.46 %

In the code below, we are simulating the sum of three six-sided dice being rolled. The goal is to calculate the probability (as a percentage) for each sum between 3 and 18.

Explain the purpose of each part of the code and how it calculates the probabilities. Specifically, explain how the variable c is used to count the valid combinations for each sum and why the probability is calculated as c / 216 * 100.

In [17]:
for num in range(3,19):

  c = 0

  for i in range(1,7):
    for j in range(1,7):
      for k in range(1,7):
        if i+j+k == num:
          c += 1

  print(num, round(((c/216)*100),2),'%')

3 0.46 %
4 1.39 %
5 2.78 %
6 4.63 %
7 6.94 %
8 9.72 %
9 11.57 %
10 12.5 %
11 12.5 %
12 11.57 %
13 9.72 %
14 6.94 %
15 4.63 %
16 2.78 %
17 1.39 %
18 0.46 %

Write a Python program that simulates the rolling of three six-sided dice. The program should generate and print all possible combinations of the dice rolls, displaying each combination as a set of three numbers (representing the dice values). After each set of combinations for the third die, print a line of dashes (----------) to separate them. After each set of combinations for the second die, print a line of asterisks (**********) to separate them.

In [18]:
for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      print(i,j,k)
    print('-'*10)
  print('*'*10)

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
----------
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
----------
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
----------
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
----------
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
----------
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
----------
**********
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
----------
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
----------
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
----------
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
----------
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
----------
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
----------
**********
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
----------
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
----------
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
----------
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
----------
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
----------
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
----------
**********
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
----------
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
----------
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
----------
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
----------
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
----------
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
----------
**********
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
----------
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
----------
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
----------
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
----------
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
----------
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
----------
**********
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
----------
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
----------
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
----------
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
----------
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
----------
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
----------
**********

**6. Data Structures (List)**

Write a Python program that creates a list of all even numbers between 2 and 1000 (inclusive) that are divisible by both 7 and 5. The program should print the list of these numbers at the end

In [19]:
lst = []

for i in range(2,1001,2):
  if(i%7 == 0) and (i%5 == 0):
    lst.append(i)

print(lst)

[70, 140, 210, 280, 350, 420, 490, 560, 630, 700, 770, 840, 910, 980]

Write a Python program to find and count all prime numbers between 2 and 1000 (inclusive). The program should iterate through the numbers in this range, check whether each number is divisible by any number other than 1 and itself, and keep a count of how many prime numbers exist in this range. Finally, the program should print the total count of prime numbers.

In [20]:
primes = []


for n in range(2,1001):

  c = 0

  for i in range(2,n):
    if n%i == 0:
      c += 1

  if c == 0:
    primes.append(n)

print(len(primes))

168

Write a Python program that processes a list of numbers and creates a new list containing the squares of all numbers that are greater than or equal to 50. Given the list of numbers:

python
Copy
lst = [34, 54, 34, 54, 35, 54, 34, 54]

In [21]:
lst = [34,54,34,54,35,54,34,54]
clean_lst = []

for i in range(len(lst)):
  if lst[i] >= 50:
    clean_lst.append(lst[i]**2)

print(clean_lst)

[2916, 2916, 2916, 2916]

Write a Python program that takes a 2D list (matrix) and computes a specific sum based on the following conditions:

Sum the elements along the diagonal (from top-left to bottom-right).

Sum the elements along the anti-diagonal (from top-right to bottom-left).

If the matrix has an odd number of rows and columns, subtract the middle element (which appears in both the diagonal and anti-diagonal) from the sum.

Given the matrix:

python
Copy
lst = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
The program should compute and print the sum as described above.

In [22]:
s = 0

lst = [ [1,2,3],
        [4,5,6],
        [7,8,9]]

for i in range(0,len(lst)):
  for j in range(0,len(lst)):
    if (i+j == len(lst)-1) or (i==j):
      s = s + lst[i][j]


if len(lst)%2 == 0:
  print(s)
else:
  print(s - lst[len(lst)//2][len(lst)//2])

20

**7. Dictionaries**

In [23]:
dct = {}

for roll_no in range(1,6):
  name = input('Enter the name of roll no. ' + str(roll_no) + ' : ')
  dct[roll_no] = name

print(dct)

Enter the name of roll no. 1 : Bhawna
Enter the name of roll no. 2 : Deepali
Enter the name of roll no. 3 : Deepu
Enter the name of roll no. 4 : Tarun
Enter the name of roll no. 5 : Honey
{1: 'Bhawna', 2: 'Deepali', 3: 'Deepu', 4: 'Tarun', 5: 'Honey'}

In [26]:
dct[3] = 'Deepu'

In [27]:
print(dct)

{1: 'Bhawna', 2: 'Deepali', 3: 'Deepu', 4: 'Tarun', 5: 'Honey'}

You are given a dictionary containing student information, including their marks in various subjects. Write a Python program that:

Iterates through the dictionary and calculates the total marks for each student by summing the marks of all subjects.

Calculates the average marks for each student by dividing the total marks by the number of subjects.

Prints the total marks and average marks for each student in the following format:

php-template
Copy
Roll No       : <roll_no>
Name          : <name>
Total Marks   : <total_marks>
Average Marks : <average_marks>
-------------------------
The provided dictionary is:

python
Copy
data = {
    1: {'name': 'Bhawna', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53, 'punjabi': 43} },
    2: {'name': 'Manish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
    3: {'name': 'Mohan', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
    4: {'name': 'Sohan', 'phone': 9876543210, 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}},
}

In [29]:
data = {
    1: {'name': 'Bhawna', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53,'punjabi' : 43} },
    2: {'name': 'Manish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
    3: {'name': 'Mohan', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
    4: {'name': 'Sohan', 'phone': 9876543210, 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}},
}

for roll_no in data.keys():

  total_marks = sum(list(data[roll_no]['marks'].values()))
  total_exams = len(data[roll_no]['marks'].values())

  print(total_marks)

183
136
136
235

You are provided with a dictionary containing student information, including their marks in various subjects. Write a Python program that:

Calculates the total marks and average marks for each student.

Assigns a grade to each student based on the following criteria:

'A' for an average of 90 or above

'B' for an average between 80 and 89

'C' for an average between 70 and 79

'D' for an average between 60 and 69

'F' for an average below 60

Updates the dictionary to include the average and grade for each student.

In [33]:
data =  { 1: {'name': 'Bhawna', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 34, 'english': 53, 'maths': 53,'punjabi' : 43} },
          2: {'name': 'Manish', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 30, 'english': 23, 'maths': 83} },
          3: {'name': 'Mohan', 'phone': 431432513, 'address': 'Noida', 'marks': {'hindi': 43, 'english': 78, 'maths': 15}},
          4: {'name': 'Sohan', 'phone': 9876543210, 'address': 'Delhi', 'marks': {'hindi': 78, 'english': 65, 'maths': 92}}}

for roll_no in data.keys():
  total_marks = sum(list(data[roll_no]['marks'].values()))
  total_exams = len(data[roll_no]['marks'].values())
  average = round(total_marks/total_exams,2)

  if average >= 90:
    grade = 'A'
  elif average >= 80:
    grade = 'B'
  elif average >= 70:
    grade = 'C'
  elif average >= 60:
    grade = 'D'
  else:
    grade = 'f'

  data[roll_no]['average'] = average
  data[roll_no]['grade'] = grade

In [34]:
data

{1: {'name': 'Bhawna',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 34, 'english': 53, 'maths': 53, 'punjabi': 43},
  'average': 45.75,
  'grade': 'f'},
 2: {'name': 'Manish',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 30, 'english': 23, 'maths': 83},
  'average': 45.33,
  'grade': 'f'},
 3: {'name': 'Mohan',
  'phone': 431432513,
  'address': 'Noida',
  'marks': {'hindi': 43, 'english': 78, 'maths': 15},
  'average': 45.33,
  'grade': 'f'},
 4: {'name': 'Sohan',
  'phone': 9876543210,
  'address': 'Delhi',
  'marks': {'hindi': 78, 'english': 65, 'maths': 92},
  'average': 78.33,
  'grade': 'C'}}

In [35]:
data[1]

{'name': 'Bhawna',
 'phone': 431432513,
 'address': 'Noida',
 'marks': {'hindi': 34, 'english': 53, 'maths': 53, 'punjabi': 43},
 'average': 45.75,
 'grade': 'f'}